/* font-family: "Rampart One", sans-serif; */
/* font-family: "Zain", sans-serif; */
/* font-family: "Rubik Glitch", system-ui; */

#about {
  height: fit-content;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: beige;
  margin-top: -0px;
  padding-bottom: 100px;
}

#about .infinite-text {
  font-size: 4vw;

  font-family: "Audiowide", sans-serif;
  display: flex;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: reveal 1s ease forwards;
  animation-timeline: view();
  /* gap: -10px; */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: moveText 20s linear infinite;
  }
  ul:first-child {
    /* background-color: lightpink; */
  }
  ul:last-child {
    /* background-color: yellow; */
  }
  ul li {
    list-style: none;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes moveText {
  to {
    transform: translateX(-100%);
  }
}

@keyframes reveal {
  from {
    transform: translateY(-1px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

#about .part2 {
  width: 100%;
  height: fit-content;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .text {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 2.5vw;
      font-weight: 100;
      font-family: "Audiowide", sans-serif;
      color: black;
      animation: text-reveal 2s ease forwards;
      overflow: hidden;
      visibility: hidden;
      animation-timeline: view(50% 0%);
      /* background-color: aquamarine; */
    }
  }
  .stat {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;

      animation: stat-reveal 1s ease forwards;
      overflow: hidden;
      visibility: hidden;
      animation-timeline: view(100% 0%);
      transform-origin: left;
      h1 {
        margin: 0px;
        font-size: 3vw;
        font-weight: 400;
        font-family: "Zain", sans-serif;
      }
      h2 {
        margin: 0px;
        font-size: 2vw;
        font-weight: 400;
        font-family: "Zain", sans-serif;
      }
      p {
        margin: 0px;
        font-size: 1.5vw;
        font-weight: 100;
        font-family: "Audiowide", sans-serif;
      }
    }
  }
}

@keyframes text-reveal {
  from {
    visibility: visible;
    background-color: #000;
    width: 0%;
  }
  to {
    visibility: visible;
    background-color: transparent;
    width: 100%;
  }
}

@keyframes stat-reveal {
  from {
    visibility: visible;
    transform: scaleX(0);
  }
  to {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media (max-width: 968px) {
}

@media (max-width: 768px) {
  #about .infinite-text {
    font-size: 6vw;
  }
}

@media (max-width: 568px) {
  #about .infinite-text {
    font-size: 8vw;
  }
}
