.site-footer {
  background-color: var(--dark-bg);
  color: #888;
  padding: 60px 30px 20px 30px;
  width: 100%;
  /* margin-top: 50px; */
}

.footer-main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.footer-column {
  font-family: "Audiowide", sans-serif;
  h3 {
    font-size: 1.1em;
    font-weight: 600;
    color: var(--light-text);
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  a {
    text-decoration: none;
    color: #aaa;
  }
}

.footer-brand {
  font-size: 0.9em;

  font-family: "Audiowide", sans-serif;
}

.footer-brand .logo-text {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-brand .tagline {
  margin-bottom: 20px;
  line-height: 1.6;
}

.footer-social .icon-link {
  color: #888;
  font-size: 1.2em;
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social .icon-link:hover {
  color: var(--accent-color);
  transform: scale(1.15);
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-nav a {
  text-decoration: none;
  color: #aaa;
  font-weight: 400;
  font-size: 0.95em;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: var(--accent-color);
  transform: translateX(5px);
}

/* Contact Details */
.contact-detail {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-detail i {
  color: #bbb;
  margin-right: 10px;
  font-size: 1em;
}

.contact-detail p {
  margin: 0;
  font-size: 0.95em;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  font-family: "Audiowide", sans-serif;

  a {
    color: var(--accent-color);
    text-decoration: none;
  }
}

.footer-bottom p {
  font-size: 0.8em;
  color: #555;
}

@media (max-width: 900px) {
  .footer-main-content {
    flex-direction: column;
    text-align: left;
    gap: 30px;
  }

  .footer-column {
    text-align: left;
  }
}

@media (max-width: 650px) {
  .footer-main-content {
    gap: 20px;
  }
}
