header {
  background-color: #111;
  height: fit-content;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  min-height: fit-content;
  position: relative;
}

#menu-toggle {
  display: none;
}

header nav .left {
  /* height: 50px; */
  font-size: 20px;
  /* background-color: aqua; */
  /* font-family: "Rampart One", sans-serif; */
  font-family: "Audiowide", sans-serif;
  color: white;
  z-index: 10;
  display: flex;

  img {
    object-fit: contain;
    height: 30px;
    width: 30px;
    /* background-color: yellow; */
    border-radius: 10px;
  }

  p {
    margin: 0px;
  }
}

header nav .right {
  display: flex;
  align-items: center;
}

header nav .right a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0px;
  margin-left: 25px;
  /* font-family: "Workbench", sans-serif; */
  font-family: "Audiowide", sans-serif;
  position: relative;
  padding: 10px 0;
}
header nav .right a.live-nav {
  background-color: red;
  padding: 5px 20px;
  border-radius: 20px;
  animation: liveBlink-nav 1.5s infinite;
}
@keyframes liveBlink-nav {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
}

header nav .right a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  height: 2px;
  background: white;
  transition: transform 250ms ease-in-out;
  transform-origin: center;
}
header nav .right a:hover::after {
  transform: scaleX(1);
}
header nav .right a:hover {
  color: orange;
}

header nav .fullNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.752);
  backdrop-filter: blur(20px);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
  z-index: 9;
}

header nav .fullNav label {
  display: block;
  margin-bottom: 40px;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 20px 0;
    /* font-family: "Workbench", sans-serif; */
    font-family: "Audiowide", sans-serif;
    transition: color 0.3s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      background-color: greenyellow;
      transform: scaleX(0);
      width: 100%;
      height: 2px;
      transition: transform 250ms ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}
header nav .fullNav a:hover {
  color: orange;
}

header nav .menuIcon {
  display: none;
  cursor: pointer;
  z-index: 10;
}

header nav .menuIcon .bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
  border-radius: 2px;
}

#menu-toggle:checked ~ .fullNav {
  transform: translateX(0);
}

#menu-toggle:checked ~ .menuIcon .bar:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}

#menu-toggle:checked ~ .menuIcon .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked ~ .menuIcon .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  header nav {
    padding: 15px 15px;
  }
  header nav .left {
    font-size: 20px;
    img {
      height: 25px;
      width: 25px;
    }
  }
  header nav .right {
    display: none;
  }
  header nav .menuIcon {
    display: block;
  }
  header nav .menuIcon .bar {
    width: 18px;
    height: 2px;
    margin: 4px auto;
    margin-right: 5px;
  }
}
@media (max-width: 500px) {
  header nav {
    padding: 20px 10px;
  }
  header nav .left {
    font-size: 20px;
    img {
      height: 25px;
      width: 25px;
    }
  }
}
