main #hero h1 {
  font-size: 10vw;
  color: white;
  /* font-family: "Rubik Glitch", system-ui; */
  font-family: "Rampart One", sans-serif;
  /* font-family: "Audiowide", sans-serif; */
  /* font-family: "Zain", sans-serif; */
  font-weight: 50;
  margin-bottom: 20px;
  max-height: 15vw;
  letter-spacing: 5px;
}
main #hero h1 span {
  margin-left: -5px;
  margin-right: -10px;
}
main #hero h1 span img {
  object-fit: contain;
  height: 100%;
  rotate: -10deg;
  transform: rotateY(180deg);
}
