/* font-family: "Rampart One", sans-serif; */
/* font-family: "Zain", sans-serif; */
/* font-family: "Rubik Glitch", system-ui; */

main {
  width: 100%;
  height: 100vh;
  position: relative;
  /*want grid of coloumn 1 only*/
  padding-top: 50px;
  background-color: #000;
  /* overflow: hidden; */
}

main #home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 85%;
  /* background-color: #00ff99; */
  position: relative;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

main #home .part1 {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* z-index: 1; */
  /* align-items: center; */
  /* background-color: violet; */
  gap: 20px;
  h1 {
    text-align: center;
    font-size: 12vw;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Rampart One", sans-serif;
    letter-spacing: -2px;
    line-height: 1.1;
    /* animation: heading-glow 10s linear infinite; */
    animation: home-slideup 1s linear;
    margin: 0px;
    /* z-index: 7; */
    position: relative;
  }

  h1::after {
    position: absolute;
    content: attr(data-content);
    inset: 0 0 0 0;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    z-index: 2;
  }
}

main #home .part2 {
  height: 70%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: home-slideup 1s linear;

  .model {
    height: 100%;
    width: 100%;
    position: relative;
    /* overflow-x: visible; */
    /* background-color: #00ff00; */

    img {
      overflow: visible;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 50%;
      position: absolute;
      object-fit: cover;
      visibility: hidden;
      animation: float 4s linear infinite, fadeIn 1s ease-in-out forwards;
      animation-delay: 1s;
    }
  }

  .text {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;

    h1 {
      margin: 0px;
      font-family: "Audiowide", sans-serif;
      /* font-family: "Notable", sans-serif; */
      font-size: 2.5vw;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 8px;
      font-weight: 900;
      width: 70%;
      text-transform: capitalize;
      color: silver;
      text-shadow: 5px 5px 20px #fff;

      /* -webkit-text-stroke: 1px paleturquoise; */
      /* color: transparent; */
      span {
        /* font-family: "Audiowide", sans-serif; */
        font-family: "Notable", sans-serif;
        letter-spacing: 2px;
        font-weight: 100;
        font-style: italic;
        color: white;
        /* animation: heading-glow 1s linear infinite; */
      }
    }

    h2 {
      margin: 0px;
      font-size: 1.8vw;
      font-family: Zain, sans-serif;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 8px;
      font-weight: 400;
      width: 60%;
      color: #fff;

      span {
        /* font-family: "Audiowide", sans-serif; */
        letter-spacing: 2px;
        font-weight: 900;
        font-style: italic;
        color: gold;
        /* animation: heading-glow 1s linear infinite; */
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
    }
  }

  .btns {
    /* background-color: aqua; */
    height: fit-content;
    display: flex;
    gap: 30px;
    padding-top: 50px;
  }

  .stats {
    height: fit-content;
    display: flex;
    gap: 80px;
    padding-top: 10px;
  }
  .stats div {
    color: white;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 1.2vw;
    text-transform: capitalize;
  }
}

.extra {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: #fff;
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* gap: 2px; */
  animation: float 2s infinite;
}

@keyframes fadeIn {
  from {
    visibility: visible;
    opacity: 0;
    filter: blur(8px);
  }
  to {
    visibility: visible;
    opacity: 0.3;
    filter: blur(2px);
  }
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}

@keyframes home-slideup {
  from {
    /* transform: scaleZ(0); */
    opacity: 0;
  }
  to {
    /* transform: scaleZ(1); */
    opacity: 1;
  }
}

@media (max-width: 968px) {
  main #home .part1 {
    h1 {
      font-size: 15vw;
      text-align: center;
    }
  }
  main #home .part2 {
    .model {
      position: relative;
      width: 80%;
      img {
        height: 120%;
        opacity: 0.8;
        filter: blur(2px);
      }
    }
    .text {
      position: absolute;
      bottom: 0;
      width: 80%;
      h1 {
        font-size: 3vw;
        width: 100%;
        /* background-color: blueviolet; */
      }
      h2 {
        font-size: 2.5vw;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    padding-top: 0px;
  }
  main #home .part1 {
    h1 {
      font-size: 18vw;
    }
  }
  main #home .part2 {
    .model {
      img {
        height: 130%;
      }
    }
    .text {
      h1 {
        font-size: 3.5vw;
        width: 100%;
      }
      h2 {
        font-size: 2.5vw;
        width: 100%;
      }
    }
  }
  .extra {
    font-size: 2vw;
    /* gap: 5px; */
    letter-spacing: 2px;
  }
}
@media (max-width: 500px) {
  main #home .part1 {
    h1 {
      font-size: 22vw;
      transform: scaleY(1.3);
      margin-bottom: 30px;
    }
  }
  main #home .part2 {
    width: 100%;
    /* background-color: beige; */
    .model {
      img {
        height: 130%;
      }
    }
    .text {
      width: 95%;
      h1 {
        /* margin: 0px; */
        font-size: 5vw;
        width: 100%;
      }
      h2 {
        /* margin: 0px; */
        font-size: 4vw;
        width: 100%;
      }
    }
  }
  .extra {
    font-size: 2vw;
    /* gap: 5px; */
    letter-spacing: 2px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }
}
