#service {
  height: fit-content;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: black;
  margin-top: -50px;
  padding-bottom: 100px;
}

#service .infinite-text {
  font-size: 4vw;
  font-family: "Audiowide", sans-serif;
  display: flex;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: reveal 1s ease forwards;
  animation-timeline: view();
  /* gap: -10px; */
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: moveText 20s linear infinite;
  }
  ul:first-child {
    /* background-color: lightpink; */
  }
  ul:last-child {
    /* background-color: yellow; */
  }
  ul li {
    list-style: none;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes moveText {
  to {
    transform: translateX(-100%);
  }
}

@keyframes reveal {
  from {
    transform: translateY(-1px);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

#service .part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  /* background-color: aqua; */
  position: relative;
}

#service .part2inside {
  height: fit-content;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  /* background-color: turquoise; */

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: white;
    animation: eachCardReveal 1s both;
    animation-timeline: view();

    .imgcont {
      /* background-color: aqua; */
      width: 50%;
      text-align: right;

      img {
        width: 40%;
        height: auto;
        border-radius: 20px;
      }
      span {
        font-size: 5.5vw;
        /* background-color: aqua; */
      }
    }
    .imgcont:nth-child(even) {
      text-align: left;
    }
    p {
      font-family: "Zain", sans-serif;
      /* background-color: lightgreen; */
      width: 50%;
      font-size: 2.2vw;
      span {
        font-weight: 900;
        text-decoration: underline;
        color: blueviolet;
      }
    }
  }

  .card:nth-child(1) {
    animation-range: entry 20% cover 40%;
  }
  .card:nth-child(2) {
    animation-range: entry 40% cover 60%;
  }
  .card:nth-child(3) {
    animation-range: entry 60% cover 80%;
  }
  .card:nth-child(4) {
    animation-range: entry 30% cover 50%;
  }
}

#service .part2 .vertLine {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  /* animation: lineGrow 5s both; */
  /* animation-timeline: view(); */
  /* animation-range: entry 40% cover 100%; */
}

@keyframes eachCardReveal {
  from {
    transform: translateY(20px) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes lineGrow {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@media (max-width: 968px) {
  #service .part2inside {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  #service .infinite-text {
    font-size: 6vw;
  }
  #service .part2inside {
    width: 80%;

    .card {
      .imgcont {
        span {
          font-size: 12vw;
        }
      }
      p {
        font-size: 3vw;
      }
    }
  }
}

@media (max-width: 568px) {
  #service .infinite-text {
    font-size: 8vw;
  }
  #service .part2inside {
    width: 90%;
    .card {
      gap: 30px;
      .imgcont {
        span {
          font-size: 16vw;
          /* background-color: aqua; */
        }
      }
      p {
        font-size: 4vw;
      }
    }
  }
}
